{% extends "layout.html" %}

{% block body %}
<a>Currencies that are currently allowed: BTC and ETH</a>
<form method="POST" action="{{ url_for('edit_transaction', transaction_id = transaction.id) }}">
  <table>
    <tr>
      <td>
        {{ form.currency.label }}
      </td>
      <td>
        {{ form.currency }}
      </td>
      <td>
        <ul>
          {% for error in form.currency.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        {{ form.amount.label }}
      </td>
      <td>
        {{ form.amount }}
      </td>
      <td>
        <ul>
          {% for error in form.amount.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
      
    </tr>

    <tr>
      <td colspan="3">
        <input type="submit" value="Update transaction" />
      </td>
    </tr>
</form>
{% endblock %}